<!DOCTYPE html>
<html>
    <head>
    
    </head>
    <body>
        <h1>Add a querie</h1>
        <form action="/add_querie" method="post">
            <label for="question">question:</label><br>
            <input placeholder="question" type="text" id="question" name="question" ><br><br>
            <label for="answer">answer:</label><br>
            <input placeholder="answer" type="text" id="answer" name="answer"  ><br><br>
            <button type="submit">submit</button>    
          </form> 
    </body>
</html>