<!DOCTYPE html>
<html>
    <head>
        <title></title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.css" integrity="sha512-VSD3lcSci0foeRFRHWdYX4FaLvec89irh5+QAGc00j5AOdow2r5MFPhoPEYBUQdyarXwbzyJEO7Iko7+PnPuBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="header">
          <a href="/dashboard"> <img src="/images/Senza-titolo.png" alt=""></a>
            <div class="drop-down">
               <p class="client_name">DD</p>
            <ul>
                <li>
                    <button class="logout-button" >logout</button>
                </li>
                <li>
                    <a href="/change_password"> change password </a>
                </li>
            </ul>
            </div>
        </div>
          <div class="login_wrapper inner_wrapper">
              <form action="/changepassword" method="post" id="changepasswordform">
                <h1>Change Password</h1>
               <div class="form-group">
                <label for="password">Password:</label><br>
                <input placeholder="password" class="form-control" type="password" id="password" name="password" >
               </div>
                <label for="newpassword" >New Password:</label><br>
                <input placeholder="newpassword" class="form-control" type="password" id="newpassword">
              <div class="form_btn">
                <button class="cmn_btn" type="submit">submit</button>   
              </div> 
              </form> 
          </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
       document.getElementById('changepasswordform').addEventListener('submit', async (event) => {
        event.preventDefault();
        
        const password = document.getElementById('password').value;
        const new_password=document.getElementById('newpassword').value

        const response = await fetch('/changepassword', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ password, new_password })
        });
        const responseData = await response.json();
        let message=responseData
       if(message==="password changed"){
         window.location.href='/dashboard'
       }
       let color;
       if(message==="fill all the parameters"||message==="user not found"||message==="you are entering incorrect password"){
        color="red"
       }else{
        color="green"
       }
        if (response.ok) {
            Toastify({
                text: message,
                duration: 3000, // Duration of the toast message in milliseconds
                backgroundColor: color,
                close: true
            }).showToast();
        } else {
            Toastify({
                text: message,
                duration: 3000,
                backgroundColor: color,
                close: true,
                
            }).showToast();
        }
    });
    const logoutbutton = document.querySelectorAll('.logout-button');
    logoutbutton.forEach(button => {
        button.addEventListener('click', async () => {
            const response = await fetch(`/logout`, {
                    method: 'POST', 
                });
               window.location.href='/'
    })
})
    </script>
</html>