<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
            <h1>Change Password</h1>
            <form action="/changepassword" method="post" id="changepasswordform">
                <label for="password">Password:</label><br>
                <input placeholder="password" type="password" id="password" name="password" ><br><br>
                <label for="newpassword">New Password:</label><br>
                <input placeholder="newpassword" type="password" id="newpassword"   ><br><br>
                <button type="submit">submit</button>    
              </form> 
    </body>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
       document.getElementById('changepasswordform').addEventListener('submit', async (event) => {
        event.preventDefault();
        
        const password = document.getElementById('password').value;
        const new_password=document.getElementById('newpassword').value

        const response = await fetch('/changepassword', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ password, new_password })
        });
        const responseData = await response.json();
        let message=responseData
       if(message==="password changed"){
         window.location.href='/dashboard'
       }
        if (response.ok) {
            Toastify({
                text: message,
                duration: 3000, // Duration of the toast message in milliseconds
                backgroundColor: 'green',
                close: true
            }).showToast();
        } else {
            Toastify({
                text: message,
                duration: 3000,
                backgroundColor: 'red',
                close: true,
                
            }).showToast();
        }
    });
    </script>
</html>