<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.css" integrity="sha512-VSD3lcSci0foeRFRHWdYX4FaLvec89irh5+QAGc00j5AOdow2r5MFPhoPEYBUQdyarXwbzyJEO7Iko7+PnPuBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
   
    <div class="login_wrapper">
        <form action="/forget_password" method="post" id="forgotPasswordForm">
        <h1>Forgot Password</h1>
        <p>Enter your email address to receive a password reset code.</p>
       <div class="form-group">
        <input type="email" class="form-control" id="email" name="email" required>
       </div>
       <div class="form_btn">
           <button type="submit" class="cmn_btn"> submit</button>
       </div>
        <!-- <button type="submit" ><a href="/verify_otp_">sent otp</a></button> -->
        <div id="loader" style="display: none;">
            <img src="/loader/loader.gif" alt="Loading..." />
        </div>
    </form>
    <div id="message"></div>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
    document.getElementById('forgotPasswordForm').addEventListener('submit', async (event) => {
        event.preventDefault();
        const loader = document.getElementById('loader');
        loader.style.display = 'flex'; // Show the loader
        const email = document.getElementById('email').value;
       
        const response = await fetch('/forget_password', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email })
        });
        const responseData = await response.json();
        let message=responseData
        loader.style.display = 'none'; // Hide the loader
       if(message==="otp sent to your email"){
        sessionStorage.setItem("forgotPasswordEmail", email);
         window.location.href='/verify_otp_'
       }
       let color;
       if(message==="email is required"||message==="user not found"){
          color='red'
       }else{
        color='green'
       }
        if (response.ok) {
            Toastify({
                text: message,
                duration: 3000, // Duration of the toast message in milliseconds
                backgroundColor: color,
                close: true
            }).showToast();
        } else {
            Toastify({
                text: message,
                duration: 3000,
                backgroundColor: color,
                close: true,
                
            }).showToast();
        }
    });
</script>
</body>
</html>
