<!DOCTYPE html> 
<html> 
<head> 
    <title>Login</title> 
</head> 
<body> 
    <form action="/login" method="post" >  
        <h1>Login</h1>
        <div class="container">   

            <label>Username : </label>   
            <input type="text" placeholder="email" id="email" name="email" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" id="password" name="password" required>  
            <button type="submit">Login</button>    
            Forgot <a href="/forget_password_"> password? </a>   
        </div> 
    </form>   
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
        document.querySelector('form').addEventListener('submit', async (event) => {
            event.preventDefault(); // Prevent default form submission
            
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            
            const response = await fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email, password })
            });
            const message = await response.json();
            if (message) {
                Toastify({
                    text: message,
                    duration: 3000, // Duration of the toast message in milliseconds
                    backgroundColor: 'green',
                    close: true
                }).showToast();
                if(message.message==="loggedIn"){
                  window.location.href='dashboard'
                }
            } else {
                Toastify({
                    text: "Unauthorized user",
                    duration: 3000,
                    backgroundColor: 'red',
                    close: true,
                }).showToast();
            }
        });
    </script>
</body> 
</html>




