<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Reset Password</h1>
        <p>Enter your new password to continue</p>
        
        <form action="/reset_password" method="post" id="resetpassword">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <label for="confirm-password"> Confirm Password:</label>
            <input type="password" id="confirm-password"  required>
            <button type="submit"> submit</button>
            <!-- <button type="submit" ><a href="/verify_otp_">sent otp</a></button> -->
        </form>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
        document.getElementById('resetpassword').addEventListener('submit', async (event) => {
            event.preventDefault();
            const password = document.getElementById('password').value;
            const confirm_password=document.getElementById("confirm-password").value;
    
            const email = sessionStorage.getItem("forgotPasswordEmail");
            const response = await fetch(`/reset_password?email=${encodeURIComponent(email)}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ password,confirm_password })
            });
            const responseData = await response.json();
            let message=responseData
            if (response.ok) {
                Toastify({
                    text: message,
                    duration: 3000, // Duration of the toast message in milliseconds
                    backgroundColor: 'green',
                    close: true
                }).showToast();
                if(message==="password updated successfully"){
                    sessionStorage.removeItem("forgotPasswordEmail");
                  window.location.href='/'
                }
            } else {
                Toastify({
                    text: message,
                    duration: 3000,
                    backgroundColor: 'red',
                    close: true,
                    
                }).showToast();
            }
        });
    </script>
</html>