<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.css" integrity="sha512-VSD3lcSci0foeRFRHWdYX4FaLvec89irh5+QAGc00j5AOdow2r5MFPhoPEYBUQdyarXwbzyJEO7Iko7+PnPuBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="login_wrapper">
            <form action="/reset_password" method="post" id="resetpassword">
                <h1>Reset Password</h1>
                <p>Enter your new password to continue</p>
                <div class="form-group">
                    <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="confirm-password"> Confirm Password:</label>
                    <input type="password" class="form-control" id="confirm-password"  required>
                </div>
                <div class="form_btn">

                    <button class="cmn_btn" type="submit"> submit</button>
                </div>
                <!-- <button type="submit" ><a href="/verify_otp_">sent otp</a></button> -->
            </form>
        </div> 
    </body>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
        document.getElementById('resetpassword').addEventListener('submit', async (event) => {
            event.preventDefault();
            const password = document.getElementById('password').value;
            const confirm_password=document.getElementById("confirm-password").value;
    
            const email = sessionStorage.getItem("forgotPasswordEmail");
            const response = await fetch(`/reset_password?email=${encodeURIComponent(email)}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ password,confirm_password })
            });
            const responseData = await response.json();
            let message=responseData
            let color;
            if(message==="please fill all the parameters"||message==="you cannot update password without verification"||message==="confirm password dosen't match with password"||message==="user not recognized")
            {
              color='red'
            }else{
              color='green'
            } 
            if (message) {
                Toastify({
                    text: message,
                    duration: 3000, // Duration of the toast message in milliseconds
                    backgroundColor: color,
                    close: true
                }).showToast();
                if(message==="password updated successfully"){
                    sessionStorage.removeItem("forgotPasswordEmail");
                  window.location.href='/'
                }
            } else {
                Toastify({
                    text: message,
                    duration: 3000,
                    backgroundColor: color,
                    close: true,
                }).showToast();
            }
        });
    </script>
</html>