<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.css" integrity="sha512-VSD3lcSci0foeRFRHWdYX4FaLvec89irh5+QAGc00j5AOdow2r5MFPhoPEYBUQdyarXwbzyJEO7Iko7+PnPuBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="header">
           <a href="/dashboard"><img src="/images/Senza-titolo.png" alt=""></a>
            <div class="drop-down">
               <p class="client_name">TK</p>
            <ul>
                <li>
                    <button class="logout-button" >logout</button>
                </li>
                <li>
                    <a href="/change_password"> change password </a>
                </li>
            </ul>
            </div>
        </div>
        <div class="login_wrapper inner_wrapper">

            <form action="/update_queries" method="POST" id="updatequerie">
                <h1>Update Query</h1>
               <div class="form-group">
                <label for="question">Question</label>
                <input type="text" id="question" name="question" class="form-control" value="<%= query.question %>" required>
               </div>
               <div class="form-group">

                <label for="answer">Answer</label>
                <textarea id="answer" name="answer" rows="6" class="form-control" required><%= query.answer %></textarea>
                </div>
                <div class="form_btn">

                    <button class="cmn_btn" type="submit" >Update</button>
                </div>
            </form>
            </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
         document.getElementById('updatequerie').addEventListener('submit', async (event) => {
            event.preventDefault();
            const question = document.getElementById('question').value;
            const answer=document.getElementById("answer").value;
            const urlParams = new URLSearchParams(window.location.search);
          const id = urlParams.get('id');
            const response = await fetch(`/update_queries?id=${id}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ question,answer })
            });
            const responseData = await response.json();
            let message=responseData
            let color;
            if(message==='fill all the fields'||message==="Error updating query")
            {
                color='red'
            }else{
                color='green'
            }
            if (response.ok) {
                Toastify({
                    text: message,
                    duration: 3000, // Duration of the toast message in milliseconds
                    backgroundColor: color,
                    close: true
                }).showToast();
                if(message==="query updated"){
                  window.location.href='dashboard'
                }
            } else {
                Toastify({
                    text: "Unauthorized user",
                    duration: 3000,
                    backgroundColor: color,
                    close: true,
                }).showToast();
            }
        });
        const logoutbutton = document.querySelectorAll('.logout-button');
    logoutbutton.forEach(button => {
        button.addEventListener('click', async () => {
            const response = await fetch(`/logout`, {
                    method: 'POST', 
                });
               window.location.href='/'
    })
})
    </script>
</html>